html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {  
  background: #ddd;
  size: 21cm 29.7cm;
  /* lmargin: 30mm 45mm 30mm 45mm; */
}

header {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.3);
  /* margin: 25px auto 50px auto; */
  /* width: calc(100% - 50px); */
  padding: 10px 0 20px 0;
}

.btn-config {
  text-align: right;
}

main {
  display: grid;
  /* row-gap: 10px; 
  text-align: center;
  margin: 0 10px 0 10px;
  background: #ddd; */

  /* background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.3); */
  /* margin: 25px auto 50px auto; 
  width: calc(100% - 50px); 
  padding: 10px 0 20px 0; */

}

.col.eti {
  background: #fff;
  /* width: 60px;
  height: 60px; */
  /* float: left; */
  /* margin: 3px; */
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(78, 78, 78);
  padding: 1em;
  color: white;
}

/* @media (max-width: 800px) {
  #main{
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    padding-left: 10px;
    padding-right: 10px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    min-width:0px;
  }

  .container{
    width: 100%;
  }

  .github-banner{
    display: none;
  }
}

#userInput{
  height:35px;
}

#barcode{
    vertical-align: middle;
}

#title{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 90%;
}

#title a:link{
    text-decoration: none;
    color: #000;
}

#title a:visited {
    text-decoration: none;
    color: #000;
}

#title a:hover {
    text-decoration: underline;
    color: #000;
}

#title a:active {
    text-decoration: underline;
    color: #000;
}

#invalid{
    display: none;
    color:#DE0000;
    margin-top:10px;
    font-size:14pt;
    vertical-align: middle;
}

#barcodeType{
  height:35px;
}

.barcode-container{
  height:200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  margin-left: 25px;
  margin-right: 25px;
}

.description-text{
  height:42px;
}

.description-text p{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.value-text{
  height:42px;
  text-align: right;
}

.value-text p{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-text{
  text-align: center;
}

.search-bar{
  margin-bottom: 20px;
}

.slider-container{
  margin-top: 17px;
}

.input-container{
  margin-top: 5px;
}

.barcode-select{
  border-color: #ccc;
} */